<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/KendoCss")
</head>
<body>
    <div id="layout-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <img id="layout-header-image" class="img-responsive" src="@Url.Content("~/Images/logo-bancointernacional.png")" />
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Estados Financieros - Reportes: ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Individual", "Index", "Home")</li>
                    <li>@Html.ActionLink("Consolidado", "Consolidado", "Home")</li>
                    <li>@Html.ActionLink("Combinado", "Combinado", "Home")</li>
                </ul>
                <p class="nav navbar-text navbar-right">Bienvenido, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewBag.Title</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/KendoJs")
    @RenderSection("scripts", required: false)
</body>
</html>
