<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/KendoCss")
</head>
<body>
    <div id="layout-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <img id="layout-header-image" class="img-responsive" src="@Url.Content("~/Images/logo-bancointernacional.png")" />
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Estados Financieros: ", "Individual", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Individual", "Individual", "Home", new { }, new { @id="lnkIndividual" })</li>
                    <li>@Html.ActionLink("Consolidado", "Consolidado", "Home", new { }, new { @id = "lnkConsolidado" })</li>
                    <li>@Html.ActionLink("Combinado", "Combinado", "Home", new { }, new { @id = "lnkCombinado" })</li>
                    <li>@Html.ActionLink("Conceptual", "Index", "Actividad", new { }, new { @id = "lnkConceptual" })</li>
                </ul>
                <p class="nav navbar-text navbar-right strongwhite">Bienvenido, @ViewBag.UserName!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="footer container" style="z-index:1;">
            <p class="pull-left white">&copy; @DateTime.Now.Year - @ViewBag.Title</p>    
            <p class="pull-right white">Desarrollado por Iconexa S.A</p>
        </footer>
    </div>
    <footer class="footer" style="width:100%; z-index:0;">
        
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/KendoJs")
    @Scripts.Render("~/bundles/Utilities")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/IE8Crap")
    <![endif]-->
    @RenderSection("scripts", required: false)
</body>
</html>
